.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: solid 1px rgb(208, 208, 208);
  border-radius: 5px;
  max-height: 400px;
  min-height: 400px;
  overflow: auto;
}

.auto {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border: solid 1px;
}

.options {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  width: 50%;
}

.options > .select {
  width: 100%;
}

.options > .optionButtonGroup {
  display: flex;
  flex-direction: row;
  gap: 5px;
  height: 20px;
}

.select {
  border: solid 1px;
}

.auto > p {
  width: 70%;
  overflow: auto;
}

.autoForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.autoForm .autoFormInputs {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.autoForm .select {
  min-width: 150px;
  height: 33px;
  border: solid rgb(206, 206, 206) 1px;
}
