.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2px;
  max-height: 400px;
  min-height: 100px;
  overflow: auto;
  border: 1px solid;
}

.auto {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.options {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  width: 50%;
}

.options > button {
  gap: 10px;
  width: 100%;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.options > .select {
  width: 100%;
}

.select {
  border: solid 1px;
}

.auto > p {
  width: 70%;
  overflow: auto;
}

.autoForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.autoForm .select {
  min-width: 150px;
  border: 1px solid;
  height: 33px;
}
