.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #00494c;
  border-bottom: solid 1px white;
}

.banner > h1 {
  color: white;
  font-size: x-large;
}

.banner > img {
  width: 100px;
}

.banner svg {
  color: white;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
