.btn {
  border-radius: 8px;
  padding: 5px 10px;
}

.addBtn {
  background-color: teal;
  color: white;
}

.removeBtn {
  background-color: red;
  color: white;
  width: 100%;
}

.logoutBtn {
  background-color: teal;
  color: white;
}
