.addBtn {
  background-color: green;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.removeBtn {
  background-color: red;
  color: white;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
}

.logoutBtn {
  background-color: teal;
  color: white;
  border-radius: 5px;
  padding: 5px;
}
