.form {
  padding: 5px;
}

.form  input {
  padding: 5px;
  height: 100%;
  border: solid rgb(206, 206, 206) 1px;
}

.form  button {
  margin-left: 5px;
  height: 100%;
}

.form  select {
  height: 100%;
  border: none;
}
