.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;
  max-width: 100%;
  max-height: 200px;
}

.task > .details {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.task .controls {
  justify-content: center;
  display: flex;
  width: 50px;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.details > * {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.details > .labels {
  gap: 5px;
  flex-wrap: wrap;
}

.task .dueDate {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2px;
  white-space: nowrap;
}

.header {
  display: flex;
  align-items: center;
  justify-content: start;
}

.taskList {
  padding: 10px 0px 10px 0px;
  max-height: 100%;
  width: 100%;
  overflow: auto;
}

.taskList ol {
  list-style: none;
}

.taskList li {
  padding: 3px;
}
