.task {
    display: flex;
    justify-content: start;
    gap: 10px;
    background-color:rgb(236, 236, 236);
    padding: 10px;
    border: solid rgb(0, 0, 0) 1px;
    margin-bottom: 2px;

}

.taskList {
    padding: 10px;
}