.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

html {
  overflow-y: overlay;
}

::-webkit-scrollbar {
  width: 2px;
  height: 1px;
}

::-webkit-scrollbar-track {
  background-color: "white";
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(#051e3e, darkblue);
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(darkblue, blue);
  border-radius: 25px;
}